# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/
notebooks/cache/

# Data generated locally
data/raw/*.graphml
data/raw/*.pkl
data/processed/

# LaTeX/build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
